<div>
    <table><tr>
        <td>Member Details:</td>
        <td><button type="button" (click)="showEditUser()"> Edit </button></td>
    </tr></table>
</div>

<form [formGroup]="updateProfileForm" (submit)="updateProfile()">    


Current area: <div *ngIf="!editUser">{{tenant.userCurrentArea}}</div>
        

<div *ngIf="editUser">
<input #area type="text" value='{{tenant.userCurrentArea}}' formControlName="userCurrentArea" />
</div> 

<br>


<div>
Phone No.: <div *ngIf="!editUser">{{tenant.userPhoneNo}}
            </div>
            <div *ngIf="editUser">
                <input type="text" value='{{tenant.userPhoneNo}}' formControlName="userPhoneNo" />
                <control-messages [control]="updateProfileForm.controls.userPhoneNo"></control-messages>
            </div>
</div>
<br>
<div align="left">
Desired City: <div *ngIf="!editUser">{{tenant.userDesiredCity}}
            </div>
            <div *ngIf="editUser">
                <input type="text" value='{{tenant.userDesiredCity}}' formControlName="userDesiredCity" />
            </div>
</div>
<br><br>

<div align="left">
Desired Area: <div *ngIf="!editUser">{{tenant.userDesiredArea}}
            </div>
            <div *ngIf="editUser">
                <input type="text" value='{{tenant.userDesiredArea}}' formControlName="userDesiredArea" />
            </div>
</div>
<br><br>
<div>
Requirement Description <div *ngIf="!editUser">{{tenant.userRequirementDescription}}
            </div>
            <div *ngIf="editUser">
                <textarea rows="4" cols="50" value='{{tenant.userRequirementDescription}}' formControlName="userRequirementDescription" > {{tenant.userRequirementDescription}} </textarea>
            </div><br>
</div>
<div>
    <button type="submit" [disabled]="!updateProfileForm.valid">Upate Info</button>
    </div>


</form>