<div class="modal text-center" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<!--<div [@dialog] *ngIf="visible" class="modal-dialog" role="document">-->
  <!--<div *ngIf="visible" class="modal-dialog" role="document">-->

    <div class="modal-dialog" role="document">
  <!--<ng-content></ng-content>-->
  <!--<button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>-->
  <!--form>
        <input #fullname type="text" placeholder="Full Name" name="fullname" required  >
        <input #email type="text" placeholder="Email ID" name="email" required >

        <input #password type="password" placeholder="Enter Password" name="password" required >
        <input #repassword type="password" placeholder="Re-enter Password" name="repassword" required >
        <input #city type="text" placeholder="City" name="city" required >
        <input #area type="text" placeholder="Area" name="area" required >
        
        
 
 
</form-->

<div class="modal-content" *ngIf="sucx == 1 ">
<button type="button" (click)="close()" class="close"  style="margin-right:10px; margin-top: 10px;" data-dismiss="modal">&times;</button>
  <br><br>  {{signUpMessage}} <br><br>
  <login-dialog></login-dialog>
  </div>

<div *ngIf="sucx == 0 || sucx == 2" class="modal-content">
    <button type="button" class="close"  style="margin-right:20px; margin-top: 20px;" data-dismiss="modal">&times;</button>
    <br>  {{signUpMessage}} <br>
    <form [formGroup]="signUpForm" (submit)="saveUser()" class="form-horizontal text-center">

      <p class=" pos-form-signup">SIGNUP</p>
      <div class="form-group text-center">
      <input type="text" class="form-control form-feed-input " placeholder="Full Name" formControlName="name" id="name" />

      <control-messages [control]="signUpForm.controls.name"></control-messages>
      </div>
    
    <div class="form-group text-center">
    <input type="text" class="form-control form-feed-input " placeholder="Email" formControlName="email" id="email" />
  <control-messages [control]="signUpForm.controls.email"></control-messages>
  </div>
  
  <div class="form-group text-center"> 
      <input type="password" class="form-control form-feed-input "placeholder="Password" formControlName="password" id="password" />

      <control-messages [control]="signUpForm.controls.password"></control-messages>
      </div>

      <div class="form-group text-center">
      <input  type="password" class="form-control form-feed-input " placeholder="Re-enter Password" formControlName="repassword" id="repassword" />

      <control-messages [control]="signUpForm.controls.password"></control-messages>
      </div>

      <div [hidden]="!nomatch"> Passwords don't match.
        </div>
      <div  class="form-group text-center">
      <input type="text" class="form-control form-feed-input " placeholder="City" formControlName="city" id="city" />

      <control-messages [control]="signUpForm.controls.name"></control-messages>
      </div>

      <div class="form-group text-center">
      <input type="text" class="form-control form-feed-input " placeholder="Area" formControlName="area" id="area" />

      <control-messages [control]="signUpForm.controls.name"></control-messages>
      </div>

       <div class="form-group text-center">
    <select  class="form-control form-feed-input" placeholder="Tenant Type" formControlName="type_of_tenant" id="type_of_tenant" >
    <option *ngFor="let type of type_of_tenant" [value]="type">{{type}}</option>
  </select>
  </div>
 

  <button class="form-group text-center" class="btn btn-default pos-btn btn-property-1modal font-style-2" type="submit" [disabled]="!signUpForm.valid">Submit</button>
     
    </form>
    
  </div>
</div>



   <!--button (click)="signUp(fullname.value, email.value, password.value, city.value, area.value )" >Done</button-->
  <!--button type="submit" (click)="signUp(fullName.value)">Done</button-->


<!--<div *ngIf="visible" class="overlay" (click)="close()"></div>-->
</div>
