        <nav class="navbar nav-style">
            <div class="container-fluid max-nav">
                <div class="navbar-header " style="display: inline-block">
                    <a class="navbar-brand" href="#">
                        <img src="app/searchTenants/images/O-tenant.svg" class="logo-position1" style="margin-top: -7px">
                    </a>
                </div>
     
                <track-scroll [dontEmit]="dontSearchFurther" (pageScrolled)="handlePageScrollEvent($event)"></track-scroll>           
                <form class="form-inline" id="commentForm" role="form" >
                <table style="margin:0 auto">
                    <tr>
                        <td><input name="searchCity" type="text" class="width-fld margin-top1" placeholder="CITY" [(ngModel)]="searchCity" aria-required="true"  required></td>
                        <td><input type="text" name="searchAreas" class="width-fld" placeholder="AREA" [(ngModel)]="searchAreas" aria-required="true" ></td>
                        <td>
                            <ss-multiselect-dropdown name="types_of_tenant" [(ngModel)]="selectedOptions" (ngModelChange)="onChange($event)" [options]="myOptions" [texts]="myTexts" [settings]="mySettings">
                            </ss-multiselect-dropdown>
                         </td>
                         <td style="text-align: center;">
                               <button class="button-style2" id="btnimage" type="button" (click)="onClickResetAndSearch(searchCity,searchAreas,selectedOptions)" style="margin-left: 18px;">
                                    1
                                </button>
                          </td>
                      </tr>
                   </table>
                </form>

<div *ngIf = "searchedTenants.length !== 0"> 

     <div class="container-fluid max-nav1 pad-top flex-prop" >
        
          
       <span *ngFor="let te of searchedTenants" class="max-nav2">
                <div class="font-style-11">{{te.userFullName}}</div>
                <div class="text-center pipe-style" >|</div>
                <div class="font-style-12 text-center" >{{te.userTypeOfTenant}}</div>
                <div class="text-center pipe-style">|</div>
                <div class="font-style-12 text-center">City:New Delhi</div>

                <hr/>
                        <div class="pull-left profile-pic-style">
                            <img src="app/searchTenants/images/DUMMMY-IMAGE.png" >
                        </div>
                            <div class="font-style-13 pad-right " >Current Area:Saket</div>
                            <div class="font-style-13 " >Desired Area:Saket</div>
                <div class="font-style-14" style="padding-top:10px;" >
                    Requirement Description:
                        <div style="padding-bottom:10px"></div>
                            abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz
                            abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz abcd efghijkl
                            mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv
                            wxyz abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz abcd
                            efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz abcd efghijkl mnop qrstuv wxyz
                        </div>
                <button name="inviteTenant" type="submit"(click)="onClickInvite(te)" class="btn btn-default  btn-property-submit font-style-2" data-toggle="modal" data-target="#myModal4" >
                    INVITE TENANT TO VISIT PROPERTY
                </button>
                <invite-dialog [(tenantEmail)]="tenant_email"></invite-dialog>

        </span>
        
     </div>
</div>
       


       
