<div [@dialog] *ngIf="visible" class="dialog">
  <ng-content></ng-content>
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>

<div *ngIf="invalid">
  {{invalidMsg}}
  </div>
<div>
    <form [formGroup]="loginForm" (submit)="login()">

      <div>
      <input placeholder="Email" formControlName="email" id="email" />

      <control-messages [control]="loginForm.controls.email"></control-messages>
      </div>
    
  
  <div>
      <input placeholder="Password" formControlName="password" id="password" />

      <control-messages [control]="loginForm.controls.password"></control-messages>
      </div>

  <button type="submit" [disabled]="!loginForm.valid">Submit</button>
     
    </form>
</div>



   <!--button (click)="signUp(fullname.value, email.value, password.value, city.value, area.value )" >Done</button-->
  <!--button type="submit" (click)="signUp(fullName.value)">Done</button-->
</div>
<!--

<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
         <input
          type="text"
          placeholder="Email"
          name="name"
          ngModel
          #userName="ngModel"
          required>
      
      <div *ngIf="userName.errors?.required && userName.touched" class="error">
        Email is required
       </div>
  <br>  <br>
           <input
            type="email"
            placeholder="Password"
            name="email"
            ngModel
            #userEmail="ngModel"
            required>
      <div *ngIf="userEmail.errors?.required && userEmail.touched" class="error">
        Email is required
       </div>
      
      <br>
      <button type="submit" [disabled]="f.invalid">Login</button>
       <div *ngIf="disabled" class="error">
        Please fill username/password!
       </div>
    </form>-->
   <!-- <div *ngIf="visible" class="overlay" (click)="close()"></div>-->
<!--




<div [@dialog] *ngIf="visible" class="dialog">
  <ng-content></ng-content>
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>


  <form>
   
    <input #username type="text" placeholder="Enter Username" name="username" required>
    <br>
    <input #password type="password" placeholder="Enter Password" name="password" required>

    
      

<div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> 
 
 
</form>
   <button (click)="login(username.value, password.value)" >Login</button>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>

-->

